
h1 {
    text-align: center;
    color: slategrey;
}

figure{
    height: 300px;
    width: 300px;
    background-color: rgba(221, 116, 221, 0.349);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

figcaption {
    text-align: center;
    
}

img {

    height: 80%;
    width: 80%;
    border-radius: 5px;

}

ul {
    text-align: center;

    list-style-type: none;
}

article {
    float: left;
}

